name: CI Check

on:
  push:
    branches: [ "**" ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: |
            11
            21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check
        run: ./gradlew check
      - name: Upload Reports
        uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: reports
          path: "**/build/reports/"
